<!-- HERO SLIDER SECTION -->
<section class="trd-hero-slider-section">
    <div class="slider-pro trd-hero-slider" id="trd-fullscreen-slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide trd-main-slides">
              <div class="trd-dark-color-overlay"></div>

                <!-- <div class="az-dark-color-overlay"></div> -->
                <%= image_tag "1.jpg", class: "sp-image" %>

                <h1 class="sp-layer trd-slider-text-big"
                 data-position="centerLeft" data-vertical="-230"  data-horizontal="100"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                Proper<span class="trd-highlight-text"> Trades Executed To Convey Best</span><br> Returns With Up to 100% GUARANTEE on capital


                 </h1>


                 <div class="sp-layer trd-hero-header-btns" data-position="centerLeft" data-vertical="200" data-horizontal="100" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                     <a href="#how" class="trd-btn">Details</a>
                     <%= link_to new_user_registration_path, class: " trd-btn trd-btn-purple " do %>
                     Sign Up
                     <% end %>
                 </div>
            </div>
            <!-- Slides End -->


            <!-- Slides -->
            <div class="sp-slide trd-main-slides">
              <div class="trd-dark-color-overlay"></div>

                <!-- <div class="az-dark-color-overlay"></div> -->
                <%= image_tag "btc.jpg", class: "sp-image" %>


                                <h1 class="sp-layer trd-slider-text-big"
                                 data-position="centerLeft" data-vertical="-230"  data-horizontal="100"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                                Proven And Reliable Algorithms <span class="trd-highlight-text"style="color:#fff;"> Executing Trades</span>
                 </h1>



                 <div class="sp-layer trd-hero-header-btns" data-position="centerLeft" data-vertical="200" data-horizontal="100" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                     <a href="#how" class="trd-btn">Details</a>
                     <%= link_to new_user_registration_path, class: " trd-btn trd-btn-purple " do %>
                     Sign Up
                     <% end %>
                 </div>
            </div>
            <!-- Slides End -->

        </div>
    </div>
</section>
<!-- HERO SLIDER SECTION END -->



<!-- HERO SLIDER SECTION END -->



<!-- SERVICE SECTION -->
<section class="trd-service-section trd-section">
    <div class="container">
        <div class="row">
            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-coffee-mug"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Simple exchange platform</a>
                    </h3>

                    <p>Enjoy comprehensive yet simplistic means of executing trades on our platform with dedicated tools for transparent analysis.</p>
                </div>
            </div>
            <!-- End -->

            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-trophy"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Best Consultancy</a>
                    </h3>

                    <p>Our best traders are available for
interaction on cryptocurrency pairs
everyday of the week.</p>
                </div>
            </div>
            <!-- End -->

            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-chart-board"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Open Market Trade</a>
                    </h3>

                    <p>We place trades on all
cryptocurrency pairs that have been
listed on exchanges.</p>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<section class="trd-custom-section trd-gray-section">
    <div class="container">
        <div class="row">

            <div class="trd-process-step-wrapper">
                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">
                            <%= image_tag "step-1.jpg" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                            <%= link_to new_user_session_path do %><span>01</span> Market Analysis<%end%>                          </div>
                    </div>
                </div>

                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">
                          <%= image_tag "step-2.jpg" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                            <%= link_to new_user_session_path do %><span>02</span> Start Trade <%end%>
                        </div>
                    </div>
                </div>

                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">
                            <%= image_tag "step-3.jpg" %>

                        </div>

                        <div class="trd-step-details-wrapper">
                            <%= link_to new_user_session_path do %><span>03</span> Increase Profits<%end%>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- KEY TO SUCCESS SECTION -->
<section class="trd-we-are-section trd-section">
  <div class="container">
    <div class="row">
      <div class="trd-section-title-wrapper col-md-12 col-sm-12 col-xs-12">
        <h1 class="trd-section-tittle">We Make  <span class="trd-highlight-text">Crypto Trading Simple, Profitable and Accessible to all </span></h1>
      </div>


      <div class="trd-we-are-trade">

        <!-- Imagebox with Text -->
        <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
          <div class="trd-imagebox-with-text">
            <div class="trd-image-wrapper">
              <%= image_tag "imgbox-img-7.jpg" %>
            </div>

            <div class="trd-imagebox-details">
              <h3>
                <a href="#">Proper Planing</a>
              </h3>
              <p>
With years of
experience trading
cryptocurrency we
execute properly
planned market
entry/exit strategies</p>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Imagebox with details -->
          <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
            <div class="trd-imagebox-with-text ">
              <div class="trd-image-wrapper">
                <%= image_tag "imgbox-img-6.jpg" %>
              </div>

              <div class="trd-imagebox-details">
                <h3>
                  <a href="#">Easy Exchange Platform </a>
                </h3>
                <p>
Crypto options have several
advantages one of which
includes maintaining high
liquidity do you know you can
exchange your cash for
cryptocurrency and vice versa
easily.  </p>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Imagebox with details -->
          <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
            <div class="trd-imagebox-with-text">
              <div class="trd-image-wrapper">
                <%= image_tag "imgbox-img-5.jpg" %>
              </div>

              <div class="trd-imagebox-details">
                <h3>
                  <a href="#">Consulting</a>
                </h3>
                <p>Consult Our Experts
On the best way to
manage your crypto
assets.</p>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Text with link -->
          <div class="col-md-3 col-sm-6 col-xs-12 trd-text-link-section">
            <div class="trd-text-link-wrapper trd-gray-section">
              <h1 class="trd-section-tittle">Let’s make <br>a <span class="trd-highlight-text">better</span> business</h1>
              <p>Buisness BETTER
Buisness And
Money Should Be
Working For You.
Lets Make That
Happen </p>

            </div>
          </div>
          <!-- End -->

        </div>
      </div>
    </div>
  </section>
  <!-- KEY TO SUCCESS SECTION END -->
<!-- SERVICE SECTION END -->
<%= render "shared/btc" %>
<br />

<!-- CLIENT LOGO CAROUSAL END -->
<%= render "shared/success" %>

        <!-- COUNTER SECTION END -->
        <%= render "shared/pricing" %>
        <!-- CUSTOM SECTION -->

        <!-- CUSTOM SECTION END -->

        <br />

        <%= render "shared/cta"%>
