<header class="trd-header trd-transparent-header trd-fixed-header">

    <!-- Bottombar -->
    <div class="trd-header-bottombar">
        <!-- Navigation Menu start-->
        <nav class="navbar trd-main-menu" role="navigation">
          <div class="container">
            <div class="row">
              <!-- Navbar Toggle -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                  <!-- Logo -->
                  <%= link_to root_path, class: "navbar-brand" do %><%= image_tag "logo.png" %> <%end%>
              </div>
              <!-- Navbar Toggle End -->

                <!-- navbar-collapse start-->
                <div id="nav-menu" class="navbar-collapse trd-menu-wrapper collapse" role="navigation">
                    <!-- Menu -->
                    <ul class="nav navbar-nav trd-menus">
                        <li class="active">
                          <%= link_to "Home", root_path %>
                        </li>
                        <li>
                          <%= link_to "About Us", page_path('about') %>
                        </li>
                        <li>
                          <a href="#">Knowledge Base</a>
                          <ul class="trd-dropdown-menu">
                            <li>
                              <%= link_to "How It Works", page_path("How-it-works") %>
                            </li>
                            <li>
                                <%= link_to "Our Whitepaper", "https://docs.google.com/document/d/16xGHvKiwbcao2Yg4DivFm_CUeD_sOzIqhkreORVHYDo/edit?usp=sharing"  %>

                            </li>
                            <li>
                              <%= link_to "Open A Bitcoin Wallet", page_path("bitcoin") %>
                            </li>
                            <li>
                                <%= link_to "FAQ's", faqs_path  %>

                            </li>
                          </ul>
                        </li>

                        <li><%= link_to new_user_session_path do %>
                            <i class="fa fa-user"> Login</i>
                        <%end%> </li>
                        <li><%= link_to new_user_registration_path do %>
                            <i class="fa fa-user"> SignUp</i>
                        <%end%> </li>
                    </ul>
                    <!-- End -->
                </div>
                <!-- navbar-collapse end-->


            </div>
          </div>
        </nav>
        <!-- Navigation Menu end-->
    </div>
    <!-- End -->
</header>
<!-- HEADER END -->
