<br />
<br />
<div class="trd-custom-sec-details">
  <!-- Section: Price
  <section id="price" class="section bg-theme">

    <div class="container">


      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <header class="text-center">
            <h2 class="section-title underline text-white">Select Best Plan for You</h2>
            <p class="section-subtitle text-white">
              <strong>Xpressbittrade excahange </strong>offers clients different options when opening an account<br>
              Depending on the trader type, there are various accounts that may best suit your needs . If you open a PREMIUM ACCOUNT with xpressbittrade excahange today , You can recieve many valuable BONUS features and servicees that will definitely enchance your exprience trading with us

            </p>
          </header>
          <br />
          <br />

        </div>
      </div>

      <div class="row section-content">



        <div class="col-md-4 col-sm-6 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.2s">
          <div class="plan">

            <h3 class="name text-center">SILVER ACCOUNT </h3>
            <ul class="features">
              <li>Trade 6x Daily/week</li>
              <li>600% weekly</li>
              <li>5% referral bonus</li>

              <li>24/7 Support</li>



            </ul>


            <%= link_to new_user_registration_path, class: "trd-btn  trd-btn-alt  btn btn-danger" do %>
            <i class="icon fa fa-fw fa-check"></i> <span class="text" style="color: #fff !important;">Select Plan</span>
            <% end %>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 animated bounceIn wow" data-wow-duration="0.9s" data-wow-delay="0.6s">
          <div class="plan">




            <h3 class="name text-center">GOLD ACCOUNT </h3>

            <ul class="features">
              <li>Trade 6x Daily/week</li>
              <li>600% weekly</li>
              <li>5% referral bonus</li>
              <li>Get Additional 3% on every trade you make  </li>
              <li>24/7 Support</li>


            </ul>


            <%= link_to new_user_registration_path, class: "trd-btn   trd-btn-alt  btn btn-danger" do %>
            <i class="icon fa fa-fw fa-check"></i> <span class="text" style="color: #fff !important;">Select Plan</span>
            <% end %>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.4s">
          <div class="plan">




            <h3 class="name text-center">PLATINUM ACCOUNT </h3>

            <ul class="features">
              <li>Trade 6x Daily/week</li>
              <li>600% weekly</li>
              <li>5% referral bonus</li>
              <li>Get Additional 5% on every trade you make  </li>
              <li>24/7 Support</li>


                       </ul>


            <%= link_to new_user_registration_path, class: "trd-btn trd-btn-alt  btn btn-danger" do %>
            <i class="icon fa fa-fw fa-check"></i> <span class="text" style="color: #fff !important;">Select Plan</span>
            <% end %>
          </div>
        </div>


      </div>
  

    </div>
  -->
    <div class="container">
      <div class="row" style=" margin-top:50px;">
        <div class="col-md-2 col-md-offset-1 " style="padding:25px;">
          <%= image_tag "1.png", class: "img-responsive" %>
        </div>
        <div class="col-md-2" style="padding:25px;">
          <%= image_tag "2.png", class: "img-responsive" %>
        </div>
        <div class="col-md-2" style="padding:25px;" >
          <%= image_tag "3.png", class: "img-responsive" %>
        </div>
        <div class="col-md-2" style="padding:25px;" >
          <%= image_tag "4.png", class: "img-responsive" %>
        </div>
        <div class="col-md-2" style="padding:25px;">
          <%= image_tag "5.png", class: "img-responsive"  %>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /Section: Price -->
