
                                    <tr>
                                      <td>
                                        <%=trade.created_at.strftime("%d-%b-%Y") %>


                                      </td>
                                      <td>$<%=trade.opening_b%></td>
                                      <td><%=trade.commission%>%</td>
                                      <td>$<%=trade.gross_pl%></td>

                                      <td>$<%=trade.net_pl%></td>
                                      <td>$<%=trade.closing_b%></td>
                                      <td><%=trade.roi%>%</td>
                                      <td>
                                        $<%= trade.capital %>
                                      </td>

                                      <td><%=trade.guranted%>%</td>

                                </tr>
