
                                    <tr>
                                      <td>
                                        <%= trade.capital %>
                                      </td>
                                      <td><%=trade.guranted%></td>
                                      <td><%=trade.roi%></td>
                                      <td><%=trade.gross_pl%></td>
                                      <td><%=trade.net_pl%></td>
                                      <td><%=trade.ctp%></td>
                                      <td><%=trade.closing_b%></td>
                                      <td><%=trade.opening_b%></td>
                                      <td><%=trade.profit_bf%></td>
                                      <td><%=trade.commission%></td>
                                      <td>
                                        <%=trade.created_at.strftime("%d-%b-%Y") %>
                                      </td>

                                </tr>
