<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Trade History</h4>
                        <p class="category">Here are trade result in the last 24hrs</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                  <th>Capital</th>
                                    <th>Gurantee</th>
                                    <th>Rate Of Investment</th>
                                    <th>Gross profit/loss</th>
                                    <th>Net profit/loss </th>
                                      <th>%Contribution to pool</th>
                                          <th>Closing Balance</th>
                                            <th>Opening Balance</th>
                                              <th>Profit Brought Forward</th>
                                              <th>Commission</th>
                                              <th>Date</th>



                                </tr>
                            </thead>
                            <tbody>
                                    <% @trades.each do |t| %>
                                    <tr>
                                      <td>
  <%= b.entry%>                         <%= t.capital %>
                                      </td>
                                      <td><%=t.guranted%></td>
                                      <td><%=t.roi%></td>
                                      <td><%=t.gross_pl%></td>
                                      <td><%=t.net_pl%></td>
                                      <td><%=t.ctp%></td>
                                      <td><%=t.closing_b%></td>
                                      <td><%=t.opening_b%></td>
                                      <td><%=t.profit_bf%></td>
                                      <td><%=t.commission%></td>
                                      <td>
                                        <%=t.created_at.strftime("%d-%b-%Y") %>
                                      </td>

                                    <% end %>
                                  </tbody>
                            </table>

                        </div>
                    </div>
                </div>
