<!DOCTYPE html>
<html>
  <head>
    <title>Cryptontrades || Start Trading with
      cryptocurrencies without
       risk on the best crypto-trading platform </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description"  content="you dont need to know everything about the block chain before investing into it. start trading today at best rates ever"/>
    <meta name="keywords" content="Binary Options,Investment , learn, Bitcoin trade, Best Cashback Investment Program">
    <meta name="MobileOptimized" content="320">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <body class="trd-home-template trd-homepage-six">
    <%= render "shared/header" %>
    <% if notice %>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success fade in">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <p><%= notice %> </p>
        </div>
      </div>
    </div>
    <% elsif alert %>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <p><%= alert %></p>
        </div>
      </div>
    </div>
    <% end %>


    <%= yield %>
    <%= render "shared/footer" %>
    <script>
  (function(b,i,t,C,O,I,N) {
    window.addEventListener('load',function() {
      if(b.getElementById(C))return;
      I=b.createElement(i),N=b.getElementsByTagName(i)[0];
      I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
    },false)
  })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
</script>
  </body>
</html>
